[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
pylint = "*"
djangorestframework = "*"
pylint-django = "*"
django-phonenumber-field = "*"
drf-nested-routers = "*"

[dev-packages]
yapf = "*"

[requires]
python_version = "3.9"
